<div class="beheader">
    <img routerLink="/bu" src="https://assets.simpleviewcms.com/simpleview/image/fetch/c_fill,h_1080,w_1920/f_jpg/q_65/https://media.newmindmedia.com/TellUs/image/%3Ffile%3DMysteriehus_16_of_22__207580565.jpg&dh%3D533&dw%3D800&t%3D4" alt="escape room" width="100px">
    <div class="nav">
        <div class="nav-option" routerLink='foglalasok'>Foglalások listázása</div>
        <div class="nav-option" routerLink="ujfoglalas" >Új foglalás felvétele</div>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>


